name: Unified Tech Bot 2026

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch: # هذا السطر هو المسؤول عن إظهار الزر الأزرق

jobs:
  run-bot:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tech-ai-bot
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Execution
        env:
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          X_API_KEY: ${{ secrets.X_API_KEY }}
          X_API_SECRET: ${{ secrets.X_API_SECRET }}
          X_ACCESS_TOKEN: ${{ secrets.X_ACCESS_TOKEN }}
          X_ACCESS_SECRET: ${{ secrets.X_ACCESS_SECRET }}
          X_BEARER_TOKEN: ${{ secrets.X_BEARER_TOKEN }}
          BOT_USERNAME: ${{ vars.BOT_USERNAME }}
        run: python main.py
